Package: libzip
Version: 1.7.1
Depends: zlib
Architecture: x64-windows
Multi-Arch: same
Abi: 17636cacc92af968b36c711908fee342d6d544d2
Description: A library for reading, creating, and modifying zip archives
Type: Port
Default-Features: bzip2, default-aes

Package: libzip
Feature: bzip2
Depends: bzip2
Architecture: x64-windows
Multi-Arch: same
Description: Support bzip2-compressed zip archives
Type: Port

Package: libzip
Feature: default-aes
Depends: libzip
Architecture: x64-windows
Multi-Arch: same
Description: Use default AES
Type: Port

Package: libzip
Feature: wincrypto
Architecture: x64-windows
Multi-Arch: same
Description: AES (encryption) support using Windows Crypto API
Type: Port
