Package: libzip
Version: 1.7.1
Depends: zlib
Architecture: x86-windows
Multi-Arch: same
Abi: cc80704056f77c2452b7dc00ff374acc1a85f4c3
Description: A library for reading, creating, and modifying zip archives
Type: Port
Default-Features: bzip2, default-aes

Package: libzip
Feature: bzip2
Depends: bzip2
Architecture: x86-windows
Multi-Arch: same
Description: Support bzip2-compressed zip archives
Type: Port

Package: libzip
Feature: default-aes
Depends: libzip
Architecture: x86-windows
Multi-Arch: same
Description: Use default AES
Type: Port

Package: libzip
Feature: wincrypto
Architecture: x86-windows
Multi-Arch: same
Description: AES (encryption) support using Windows Crypto API
Type: Port
